.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.invert {
    filter: invert(1);
}

.bg-black {
    background-color: black;
    color: white;
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}



/* Styling the scrollbar for WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #333; /* Dark color for the scrollbar thumb */
    border-radius: 6px; /* Rounded corners */
  }
  
  ::-webkit-scrollbar-track {
    background: #222; /* Darker color for the scrollbar track */
  }
  
  /* Styling for Firefox */
  html {
    scrollbar-color: #333 #222; /* Thumb color and track color */
 /* Reduced scrollbar width */
  }
  

















  
   
